.sidebar{
    -fx-background-color: rgb(58,69,88);
}
.sidebar-user-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
}

.sidebar-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
}
.sidebar-btn:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
    -fx-border-color: rgb(22,169,250);
    -fx-border-width: 0px 0px 0px 3px;
}
.label{
    -fx-text-fill: #b8b1b1;
}
.sidebar-btn:pressed .label{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #0099ff;
}
.sidebar-btn:pressed .sidebar-btn-icon{
    -fx-fill: #0099ff;
}
.sidebar-btn-icon{
    -fx-fill: #b8b1b1;
}

.menu-bar-btns{
    -fx-background-color: #fff;
    -fx-border-color: #cccccc;
    -fx-border-width: 0px 0px 0px 1px;
}
.menu-bar-btns:hover{
    -fx-background-color: #0099ff;
}
.menu-bar-btns-icon{
    -fx-fill: #999;
}
.menu-bar-btns:hover .menu-bar-btns-icon{
    -fx-fill: #fff;
}
.menu-bar-search-field{
    -fx-prompt-text-fill: #b8b1b1;
    -fx-text-fill: #000;
}
.menu-bar-search-field-box{
    -fx-prompt-text-fill: #b8b1b1;
    -fx-text-fill: #000;
    -fx-border-color: #cccccc;
    -fx-border-width: 0px 0px 0px 1px;
}

.content-area-circle-btns{
    -fx-background-color: #fff;
    -fx-background-radius: 100px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 100%;
}
.content-area-circle-btns:hover{
    -fx-background-color: #0099ff;
    -fx-background-radius: 100px;
    -fx-text-fill: #fff;
}
.content-area-circle-btns-icon{
    -fx-fill: #b8b1b1;
}
.content-area-circle-btns:hover .content-area-circle-btns-icon{
    -fx-fill: #fff;
}
.lbl2{
    -fx-text-fill: #757373;
}
.lbl3{
    -fx-text-fill: #00a1ff;
}
.card-white{
    -fx-background-color: rgb(255.0, 255.0, 255.0);
    -fx-background-radius: 4.0;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0,1.5);
}
.compose{
	-fx-background-color: transparent;
    -fx-border-radius: 60; 
	-fx-border-color:#b8b1b1;
    -fx-text-fill: #b8b1b1;
}
.mail-btn{
	-fx-background-color: #F1F5F8;
	-fx-background-radius: 0px 30px 30px 0px;
    -fx-text-fill: #000000;
}